# Фильтрация данных 
### [Вернуться назад](https://github.com/Artexxx/Artem-python/blob/master/УЧЕБНИК/pandasTricks/README.md)

In [9]:
import pandas as pd
df = pd.read_csv('data/intSimple.csv')
df

   A   B   C   D   E   F   G
0  1  10  10  17   1   8  17
1  3   3   4  19  18  15   8

### 1. Filter using multiple `|`

In [14]:
df[(df["A"] == 1) | (df["A"] == 3)]

   A   B   C   D   E   F   G
0  1  10  10  17   1   8  17
1  3   3   4  19  18  15   8

### 2. Filter using `isin`

In [15]:
df[df["A"].isin([1, 3])]

   A   B   C   D   E   F   G
0  1  10  10  17   1   8  17
1  3   3   4  19  18  15   8

### 3. using `Invert ~`

In [13]:
df[~df["A"].isin([1, 3])]

Empty DataFrame
Columns: [A, B, C, D, E, F, G]
Index: []