# Объединение наборов данных и проверка уникальности
### [Вернуться назад](https://github.com/Artexxx/Artem-python/blob/master/УЧЕБНИК/pandasTricks/README.md)

In [93]:
import seaborn as sns
import pandas as pd
zoo = pd.read_csv('data/zoo.csv')
zoo.tail()

      animal  uniq_id  water_need
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

### 1. Таблица которую мы хотим добавить к главной

In [122]:
zoo_eats = pd.DataFrame([['elephant','vegetables'], ['tiger','meat'], ['kangaroo','vegetables'], ['zebra','vegetables'], ['giraffe','vegetables']], columns=['animal', 'food'])
zoo_eats

     animal        food
0  elephant  vegetables
1     tiger        meat
2  kangaroo  vegetables
3     zebra  vegetables
4   giraffe  vegetables

## <font color='green'>OUTER</font>  - объединяются все значения 
* если значения нет - заменить на `NaN`

In [131]:
zoo.merge(zoo_eats, how='outer');

### <font color='green'>INNER</font> (default) - объединяются только те значения, которые можно найти в обеих таблицах
* если значения нет - удалить его

In [127]:
zoo.merge(zoo_eats);